/* DIV */
.textp {
    display: block;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

/* LOCALIZAÇÃO */
.location p {
    color: #94a3b8;
}

.address {
margin: 20px 0;
color: #94a3b8;
}

.map {
margin: 20px 0;
}

.actions a {
margin-bottom: 10px;
}