.produto-box {
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    padding: 20px;
}

.produto-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.produto-content img {
    width: 100%;
    border-radius: 12px;
}

.produto-title {
    font-size: 20px;
    font-weight: 600;
}

.produto-preco {
    font-size: 22px;
    font-weight: 600;
    color: #22c55e;
}

/* CORES */
.cores {
    margin-top: 10px;
}

.cores p {
    font-size: 14px;
    color: #94a3b8;
}

.cores-lista {
    display: flex;
    gap: 10px;
}

.cor-option {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.cor-option.ativa {
    border: 2px solid #22c55e;
}

.produto-galeria{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
}

.galeria-btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);

    width:38px;
    height:38px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    background:rgba(0,0,0,.45);
    color:#fff;
    font-size:18px;
}

.esquerda{
    left:10px;
}

.direita{
    right:10px;
}