<section class="hero">

    <div class="hero-overlay">

        <div class="logo-container">
            <a href="/carimbai">
                <img
                    src="/carimbai/img/logo.png"
                    alt="Carimbai Logo"
                >
            </a>
        </div>

        <h1 id="header-title"></h1>

        <p id="header-desc"></p>

        <div id="header-extra"></div>


        <div class="header-carrinho">

            <a
                href="/carimbai/carrinho/index.html"
                class="header-carrinho-link"
                aria-label="Abrir carrinho"
            >

                <span class="header-carrinho-icone">
                    🛒
                </span>

                <span class="header-carrinho-texto">
                    VER CARRINHO
                </span>

                <span
                    id="contador-carrinho"
                    class="header-carrinho-contador"
                >
                    0
                </span>

            </a>

        </div>

    </div>

</section>
